body {
    background-color: silver;
}

.nav-link {
    font-weight: 500 !important;
    font-size: 1.5rem;
}
.header{
    position: sticky !important;
    top: 0 !important;
    z-index: 1000 !important;
}

@media screen and (max-width: 992px) {
    .custom-navbar {
      display: flex !important;
      flex-direction: row !important;
    }
    .custom-navbar a{
        padding: 0.5rem;
        font-size: 1.2rem;
    }
  }